.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: url('../../assets/Try.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
} 

.main-page__logo {
    position: absolute;
    top: 24px;
    left: 24px;
}

.main-page__banner {
    position: absolute;
    top: 50%;
    left: 50%;
    filter: blur(2px);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.main-page__menu {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.main-page__menu__item {
    position: absolute;
    white-space: nowrap;

}

.main-page__menu__item span img {
    z-index: 2;
    transform: scale(0.8);
    filter: blur(2px);
    user-select: none;
}

.main-page__menu__item span {
    position: relative;
    display: block;
    height: 100%;
}

.main-page__menu__item  a {
    z-index: 5;
    transition: all 0.4s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-page__menu__item:nth-child(1) {
    top: 16vh;
    left: 16vw;
}

.main-page__menu__item:nth-child(2) {
    top: 2.5vh;
    right: 36vw;
}



.main-page__menu__item:nth-child(2) span img {
    transform: scale(0.9);
}



.main-page__menu__item:nth-child(3) {
    top: 10.6vh;
    right: 16vw;
}

.main-page__menu__item:nth-child(4) {
    top: 33.3vh;
    right: 5vw;
}

.main-page__menu__item:nth-child(5) {
    left: 7vw;
    bottom: 38vh;
}

.main-page__menu__item:nth-child(6) {
    right: 30vw;
    bottom: 4.4vh;
}

.main-page__menu__item:nth-child(7) {
    left: 30vw;
    bottom: 1vh;
}

.main-page__menu__item:nth-child(8) {
    left: 12vw;
    bottom: 12vh;
}

.main-page__menu__item:nth-child(9) {
    bottom: 17vh;
    right: 12vw;
}

.main-page__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-page__skip-button {
    position: absolute;
    bottom: 24px;
    right: 32px;
    background: none;
    font-size: 28px;
    color: #fff;
    text-shadow: 4px 2px var(--shadowColor);
}